*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    color: white;
    background-image: url("../assets/bgimg.webp");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    max-width: 144rem;
    margin: 0 auto;
    padding: 2rem 2.5rem;
    display: flex;
    justify-content: space-between;
    max-width: 144rem;
    left: 0;
    right: 0;
    text-align: center;
}

.Title{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 27px;
    text-decoration: none;
}

.logout{
    height: 38px;
    width: fit-content;
    background-color: Transparent;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    color: white;
    border: white 2px solid;
    border-radius: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.logout:hover{
    color: rgb(0, 0, 0);
    border: black 2px solid;
    background-color: white;
}

.month{
    padding-left: 40px;
    font-size: 23px;
    /* height: 35px;
    
    background-color: Transparent;
    padding: 5px;
    color: white;
    border-radius: 0.5rem;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px; */
}

.intro{
    max-width: fit-content;
    height: 400px;
    display: flex;
    margin-left: 6%;
    
    
}

.image{
    margin: 0;
    padding: 3rem 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 13rem;
}

.image img{
    height: 400px;
    width: 550px;
    border-radius: 30px;
    box-shadow: 12px 12px 14px 12px rgba(0, 0, 0, 0.2);;
    
}
.greet{
    padding-left: 5rem;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
}

.container{
    padding: 2rem;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 18rem;
    padding-right: 12rem;
}

.container h1{
    padding-bottom: 1rem;
    padding-top: 1.5rem;
    font-size: 35px;
    text-decoration: underline;
}

.container p{
    font-size: 20px;
    
}

.button{

    justify-content: center;
    align-items: center;
    margin-bottom: 3%;
    border-radius: 12px;
}

.exp:hover{
    background-color: white;
    border: solid 2px black ;
    color: black;
    text-decoration: underline;
}

.exp{
    padding: 1rem;
    background: transparent;
    color: white;
    border: white 2px solid;
    border-radius: 12px;
}

.form-div{
    padding-bottom: 4%;
    
}

.form-div h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 34px;
}

.form-div img{
    padding-top: 1rem;
    height: 350px;
    border-radius: 75px;
    box-shadow: 2px 2px 4px 2px rgba(18, 16, 16, 0.2);

}

.form-div button{
    margin-top: 3%;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 2px white ;
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
    
}

.form-div button:hover{
    background-color: white;
    border: solid 2px black ;
    color: black;
}


.report{
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
}

.report h1{

    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

.report img{
    padding-top: 1rem;
    height: 350px;
    border-radius: 70px;
    box-shadow: 2px 2px 4px 2px rgba(18, 16, 16, 0.2);
}

.report summary{
    padding-top: 3%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    padding-bottom: 0.5%
}

.report p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 26px;
}

.whole{
    padding-left: 8%;
    padding-right: 8%;
    padding-bottom: 5%;
    font-family: 'Times New Roman', Times, serif;
}

.whole h1{
    font-size: 40px;
    padding-bottom: 1%;
    text-decoration: underline;
}


.but strong{
    font-size: 25px;
    padding-right: 10px;
}

.but button{
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    
}

.but{
    padding-bottom: 2%;
}

.sel{
    padding-bottom: 1.5%;
}

.sel select{
    padding-left: 2%;
    background-color: transparent;
    border: white solid 2px;
    margin-left: 10px;
    font-size: 22px;
    color: white;
    border-radius: 12px;
}

.sel select option{
    color: black
}

.cut{
    color: rgb(8, 0, 253);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline;
    padding-bottom: 2%;
    font-size: 18px;
}

.card{
    float: left;
    padding-left: 10%;
}

.card img{
    border-radius: 70px;
    box-shadow:22px 22px 24px 22px rgba(1, 1, 1, 0.2);
    margin-bottom: 5%;
}

.card-body h3{
    font-size: 30px;
} 
.card-body h3:hover{
    text-decoration: underline;
}

.card-body h2{
    font-size: 24px;
    padding-bottom: 2%;
}

.card-body h2 strong{
    border: white 2px solid;
    padding: 3px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 12px;
    margin-left: 4%;
    font-family: Arial, Helvetica, sans-serif;
}

.card-body h4{
    font-size: 24px;
}

.card-body{
    padding-bottom: 4%;
}